
@media screen and (max-width: 1100px){
 #left-column-profile-page{
    width: 40px;

}}


#middle-column-profile-page {
    padding-top: 100px;
    padding-left: 5vw;
    padding-right: 5vw;
}

#left-column-profile-page{
    min-width: 40px;
    width: auto;
}



