
#middle-column-profile-page, #right-column-profile-page{
    padding-top: 60px;
}


#right-column-profile-page, #left-column-main-page{
    min-width: 20vw;
}

#middle-column-profile-page{
    padding-left: 10vw;
    padding-right: 5vw;
}
