
@media screen and (max-width: 1200px) {
    #left-column-profile-page {
        min-width: 50px;
    }

    .user-name-side-bar{
        display: none;
    }

    #profile-card-options{
        padding-top: 100px;
    }
    #middle-column-profile-page {
        padding-top: 100px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}


@media screen and (min-width: 1201px) {

    #middle-column-profile-page {
        padding-top: 100px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    #left-column-profile-page {
        min-width: 40px;
        width: auto;
    }

}




