

#side-bar-nav{
    position: -webkit-sticky;
    position: sticky;
    display: block;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 5vw;
    top:0;
    height: 100vh;
}


.logo-side-bar{
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vh;
    opacity: 60%;
}


.logo-side-bar:hover{
    border: 1px solid #2ecc71;
    border-radius: 5px;
}

