

#reg-data{
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    background-image: url("./bck-img.jpg");
}

.verif-link{
    color: #61dafb;
}

.verif-link:hover{
    color: #3498db;
}

#box {
    width: 350px;
    padding: 20px;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
    margin-left: auto;
}

#box input::placeholder{
    color: whitesmoke;
}
#box input[type="text"],
#box input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
   color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s
}

#box h1 {
   color: whitesmoke;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
}

#box input[type="text"]:focus,
#box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71;
}


#box input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: whitesmoke;
    font-size: 25px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

#box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}



